.nav-enter {
  transform: translateX(0%);
}
.nav-enter-active {
  transform: translateX(100%);
  transition: transform 3000ms ease-in-out;
}
.nav-exit {
  transform: translateX(0%);
}
.nav-exit-active {
  transform: translateX(100%);
  transition: transform 3000ms ease-in-out;
}
